@model IEnumerable<PandaWeb.Models.Course>

@{
    ViewBag.Title = "Course";
}

<h2>Kurser</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EducationPlanId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CoursePlan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EarlierMaterial)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OtherMaterial)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TeacherId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EducationPlanId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CoursePlan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EarlierMaterial)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OtherMaterial)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TeacherId)
        </td>
    </tr>
}

</table>
