@model PandaWeb.ViewModels.IndexVM

@{
    ViewBag.Title = "";

}
<div>
   <dl >
        <dt>
            @Html.DisplayNameFor(model => model.EducationId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EducationId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>

    </dl>
</div>
