@model PandaWeb.ViewModels.EduPlanDetailsVM

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutEducation.cshtml";
}

<h2>Välkommen till @Html.DisplayFor(model => model.Name)</h2>

<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>

    </dl>
</div>
    @foreach (var course in Model.Courses)
    {
        <p>@course.Name</p>
    }


